*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    color: #343a40;
}

.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 6rem;
}

.box{
    width: 100%;
    height: 30rem;
    box-shadow: 0 0 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box-1{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 img{
    width: 24rem;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .sign-up-h{
    font-size: 2rem;
}

.sign-up .icon-times i{
    transform: translate(19rem, -13.5rem);
}

.box-2 a{
    text-decoration: none;
    color: #343a40d0;
    margin-right: 0.5rem;
    border-bottom: rgba(0, 0, 255, 1);
}

.box-2{
    display: grid;
    row-gap: 1rem;
}

.sign-up .box-2 input{
    height: 1.8rem;
    width: 14rem;
    box-shadow: 0 0 0.15rem grey;
    background-color: #e9ecef;
    border: 0.1rem solid #e9ecef;
}

.sign-up button{
    width: 14rem;
    height: 2.4rem;
    color: white;
    background-color: rgba(0, 0, 255, 0.747);
    box-shadow: 0 0 0.1rem black;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.sign-up button:hover{
    background-color: white;
    color:rgba(0, 0, 255, 0.747);
    transition: 0.5s;
}

.sign-up .email{
    font-size: 0.1rem;
}

.sign-up .box-2 p{
    font-size: 0.67rem;
    margin-bottom: 0.1rem;
}

.sign-up .mail .error{
    font-size: 0.8rem;
    color: rgba(255, 0, 0, 0.7);
}

.box-2 a{
    color:rgba(78, 78, 233, 0.7)
}

.sign-up i{
    transform: translateX(-2rem);
    cursor: pointer;
}

.sign-up .fa-exclamation-circle{
    color: rgba(255, 0, 0, 0.7);
    border-bottom: rgba(78, 78, 233, 0.7);
}



.mail :nth-child(2){
    border-color: rgba(255, 0, 0, 0.5);;
}

.sign-up .info :nth-child(1){
    border-bottom: 0.15rem solid rgba(78, 78, 233, 0.4);
}
.sign-up .info :nth-child(2){
    border-bottom: 0.15rem solid rgba(78, 78, 233, 1);
}

.sign-up h5{
    margin-left: 1rem;
}

.sign-up .fa-eye-slash{
    color: #868e96;
}